.idea
kubectl
backend-controller/static
frontend/dist
__pycache__/
.pytest_cache/
.venv/
frontend/dev/src/node_modules/
frontend/dev/src/dist/
dsp-wasm/build*/
frontend/dev/src/public/dsp.wasm
frontend/dev/src/node_modules.pre-webassembly/
**/*.pre-webassembly/
frontend/dev/src/public/config.yaml
