services:
  websocket-server:
    image: python:3.11-slim

    working_dir: /app

    command: >
      sh -c "pip install --user -r requirements.txt && python app.py"

    ports:
      - "${DATA_PORT}:8000"
      - "${WEBSOCKET_PORT}:8001"

    volumes:
      - ./src:/app:ro
      - pip_packages:/root/.local

    restart: unless-stopped

volumes:
  pip_packages: