kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  # Ingress NGINX (Web)
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: 80
    hostPort: 80
    protocol: TCP
  - containerPort: 81
    hostPort: 81
    protocol: TCP
  - containerPort: 443
    hostPort: 443
    protocol: TCP

  # Hardware SDR (USB access)
  extraMounts:
  - hostPath: /dev/bus/usb
    containerPath: /dev/bus/usb